/* Sticky footer styles
-------------------------------------------------- */

html {
    position: relative;
    min-height: 100%;
}

body {
    // Set this to footer height
    margin-bottom: $footer-height;
    @include font-body;
}

// Typography
h1,
h2,
h3,
h4,
h5,
h6 {
  @include font-heading;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    // Set this to footer height
    height: $footer-height;
    line-height: $footer-height;
}
