---
layout: default
---
<header class="mahout-header">
  <div class="mahout-header-upper">
    <div class="container mt-auto">
      <div class="row">
        <div class="col-12">
          <img src="/assets/mahout-logo-white.svg" alt="Apache Mahout">
          <img class="asf-logo float-right" src="/assets/asf_logo_white.svg" alt="Apache Software Foundation">
        </div>
      </div>
    </div>
  </div>
  <div class="mahout-header-lower">
    <div class="container position-relative mb-auto">
      <h2 class="mb-4">For Creating Scalable Performant Machine Learning Applications</h2>
      <a class="btn btn-lg btn-light btn-download mb-3" href="https://www.apache.org/dyn/mirrors/mirrors.cgi?action=download&filename=mahout/{{ site.mahout-version }}/mahout-{{ site.mahout-version }}-source-release.zip"><i class="fa fa-download"></i> Download Mahout</a>
      <div class="small text-white mx-auto">Currently v{{ site.mahout-version }}</div>
    </div>
  </div>
  <canvas id="waves"></canvas>
</header>

<div class="container mt-5 pb-4">

  <div class="row">

    <div class="col-lg-8">
      {{ content }}
    </div>

    <div class="col-lg-4">
      <h2 class="section-heading">Sidebar Home</h2>
      {% include sidebar.html %}
    </div>

  </div>

</div>
