{% include themes/mahout/header.html %}
<body class="{{ post.title | downcase | replace:' ','-' | replace:',','' | strip_html }}{% if page.category %} category-{{ page.category }}{% endif %}{% if page.layout-class %} layout-{{ page.layout-class }}{% endif %}">

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">
            <img src="/assets/themes/mahout/img/mahout-logo.png" width="75" alt="I'm mahout">
            Apache Mahout
          </a>
        </div>
        <nav class="navbar-collapse collapse" role="navigation">
          <ul class="nav navbar-nav navbar-right">

            <!-- Quick Start -->
            <li id="quickstart">
              <a href="/docs/0.13.0/quickstart" >Quick Start</a>
            </li>         

             <li id="samsara">
           <!-- Samsara docs  
             old http://mahout.apache.org/users/sparkbindings/faq.html

           -->
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">Mahout-Samsara<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><span><b>Reference Info</b><span></li>
                <li><a href="/docs/0.13.0/mahout-samsara/incore">In-core Reference</a></li>
                <li><a href="/docs/0.13.0/mahout-samsara/outofcore">Out-of-core Reference</a></li>
                <li><a href="/docs/0.13.0/mahout-samsara/faq">Samsara FAQ</a></li>
                <li role="separator" class="divider"></li>
                <li><span><b>Bindings</b><span></li>
                <li><a href="/docs/0.13.0/mahout-samsara/spark-bindings">Spark Bindings</a></li>
                <li><a href="/docs/0.13.0/mahout-samsara/flink-bindings">Flink Bindings</a></li>
                <li><a href="/docs/0.13.0/mahout-samsara/flink-bindings">H20 Bindings</a></li>
              </ul>
            </li>

             <li id="tutorials">
           <!-- Tutorials -->
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">Tutorials<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><span><b>Spark Examples using Samsara</b><span></li>
                <li><a href="/docs/0.13.0/tutorials/samsara-spark-shell">Samsara in Spark Shell</a></li>
                <li><a href="/docs/0.13.0/tutorials/build-app">Samsara Spark Application</a></li>
                <li><a href="/docs/0.13.0/tutorials/text-classification">Text Classification</a></li>
                <li role="separator" class="divider"></li>
                <li><span><b>Fl</b><span></li>
                <li><a href="/docs/0.13.1-SNAPSHOT">tbd1</a></li>
                <li><a href="/docs/0.13.1-SNAPSHOT">tbd2</a></li>
                <li role="separator" class="divider"></li>
                <li><span><b>MapReduce</b><span></li>
                <li><a href="/docs/0.13.1-SNAPSHOT">tbd1</a></li>
                <li><a href="/docs/0.13.1-SNAPSHOT">tbd2</a></li>
              </ul>
            </li>


            <!-- Algorithms (Samsara / MR) -->
            <li id="algorithms">
              <a href="#" data-toggle="dropdown" class="dropdown-toggle">Algorithms<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><span><b>Samsara Code</b><span></li>
                <li><a href="/docs/0.13.0/algorithms/samsara/dssvd">Dist SVD</a></li>
                <li><a href="/docs/0.13.0/algorithms/samsara/dspca">Dist PCA</a></li>
                <li><a href="/docs/0.13.0/algorithms/samsara/dqr">Dist QR</a></li>
                <li><a href="/docs/0.13.0/algorithms/samsara/dals">Dist ALS</a></li>
                <li role="separator" class="divider"></li>
                <li><span><b>Command Line</b><span></li>
                <li><a href="/docs/0.13.0">algo1</a></li>
                <li><a href="/docs/0.13.0">algo2</a></li>
                <li role="separator" class="divider"></li>
                <li><span><b>xxxx</b>&nbsp;(xxxxx)<span></li>
                <li><a href="/docs/0.13.1-SNAPSHOT">xxxxx</a></li>
              </ul>
            </li>

            <!-- Scala Docs -->
            <li id="scaladocs">
              <a href="tbd" data-toggle="dropdown" class="dropdown-toggle">Scala Docs<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="title"><span><b>TODO - Needs update per new scaladocs</b><span></li>
                <li><a href="http://apache.github.io/mahout/0.10.1/docs/mahout-math/index.html">Mahout Math</a></li>
                <li><a href="http://apache.github.io/mahout/0.10.1/docs/mahout-math-scala/index.html">Mahout Math Scala bindings</a></li>
                <li><a href="http://apache.github.io/mahout/0.10.1/docs/mahout-math/index.htmlhttp://apache.github.io/mahout/0.10.1/docs/mahout-spark/index.html">Mahout Spark bindings</a></li>
                <li><a href="http://apache.github.io/mahout/0.10.1/docs/mahout-math/index.html">Mahout Spark bindings shell</a></li>
                <li><a href="http://apache.github.io/mahout/0.10.1/docs/mahout-math/index.html">Mahout H2O backend Scaladoc</a></li>
                <li><a href="http://apache.github.io/mahout/0.10.1/docs/mahout-math/index.html">Mahout H2O backend Javadoc</a></li>
                <li><a href="http://apache.github.io/mahout/0.10.1/docs/mahout-math/index.html">Mahout HDFS</a></li>
                <li><a href="http://apache.github.io/mahout/0.10.1/docs/mahout-math/index.html">Mahout Map-Reduce</a></li>
                <li><a href="http://apache.github.io/mahout/0.10.1/docs/mahout-math/index.html">Mahout Examples</a></li>
                <li><a href="http://apache.github.io/mahout/0.10.1/docs/mahout-math/index.html">Mahout Integration</a></li>
              </ul>
            </li>


        </ul>
        </nav><!--/.navbar-collapse -->
      </div>
    </div>

        <article>
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-1">
                    {{ content }}
                </div>
            </div>
        </div>
    </article>

{% include themes/mahout/footer.html %}
