.git
.github
.cursor
.devcontainer
.mypy_cache
.pytest_cache
.ruff_cache
.venv
__pycache__
*.pyc
*.pyo
*.pyd
*.so
*.dylib
*.egg-info

qdp/target
qdp/qdp-python/target
target

website/node_modules
website/build

.DS_Store
