output-asf-email-examples/
.checkstyle
.ruleset
.pmd
.classpath
.project
.settings/
.idea/
.DS_Store
.cache
*.iml
target/
examples/bin/tmp
output
community/mr/build/
community/mr/input/
community/mr/output/
community/mr/testdata/
community/mr/temp
temp
foo
math-tests/
metastore_db/*
bin/derby.log
bin/metastore_db
*jar
*log
website/_site
website/Gemfile.lock