.classpath
.project
.idea/*
*.iml
target/*
core/target/*
math/target/*
examples/target/*
buildtools/target/*
utils/target/*
eclipse/target/*
taste-web/target/*
.settings/
buildtools/.settings/
core/.settings/
core/build/
core/input/
core/output/
core/testdata/
distribution/.settings/
eclipse/.settings/
examples/.settings/
foo
math-tests/
math/.settings/
taste-web/.settings/
utils/.settings/
