.classpath
.project
.idea/*
*.iml
target/*
core/target/*
math/target/*
examples/target/*
buildtools/target/*
integration/target/*
.settings/
buildtools/.settings/
core/.settings/
core/build/
core/input/
core/output/
core/testdata/
distribution/.settings/
examples/.settings/
foo
math-tests/
math/.settings/
integration/.settings/
