repos:
  # Check yaml, end of file, trailing whitespace
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-yaml
        name: check yaml
      - id: end-of-file-fixer
        name: fix end of file
      - id: trailing-whitespace
        name: trim trailing whitespace

  # Ruff linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.5
    hooks:
      - id: ruff
        name: ruff linting
        files: \.py$
        args: [--fix]
      - id: ruff-format
        name: ruff formatting
        files: \.py$

  # Check Apache license headers
  - repo: https://github.com/lucas-c/pre-commit-hooks
    rev: v1.5.5
    hooks:
      - id: insert-license
        name: check license headers (Python)
        files: \.py$
        args:
          - --license-filepath
          - testing/utils/.license-header.txt
          - --comment-style
          - "#"
      - id: insert-license
        name: check license headers (Rust)
        files: \.rs$
        args:
          - --license-filepath
          - testing/utils/.license-header.txt
          - --comment-style
          - "//"
      - id: insert-license
        name: check license headers (CUDA)
        files: \.(cu|cuh)$
        args:
          - --license-filepath
          - testing/utils/.license-header.txt
          - --comment-style
          - "//"

# Rust Linter
  - repo: https://github.com/doublify/pre-commit-rust
    rev: v1.0
    hooks:
      - id: fmt
        pass_filenames: false
        args: ['--manifest-path', 'qdp/Cargo.toml', '--all']
      - id: clippy
        # clippy needs context of the whole crate to compile correctly
        pass_filenames: false
        args: [
          '--manifest-path', 'qdp/Cargo.toml',
          '--all-targets',
          '--all-features',
          '--',
          '-D', 'warnings'
        ]
