<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender class="org.apache.log4j.ConsoleAppender" name="console">
        <param value="System.err" name="target"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param value="%d{yy/MM/dd HH:mm:ss} %p %c{1}: %m%n" name="ConversionPattern"/>
        </layout>
    </appender>
    <!-- Change the level below to adjust logging levels. -->
    <root>
        <level value="info"/>
        <appender-ref ref="console"/>
    </root>
</log4j:configuration>