.navbarDropdownMenuLinkColor {
    font-weight: bold;

}
.navbarDropdownMenuLinkColor:hover {
    font-weight: bold;
    color: #0000FF !important; 

}
.dropdown-menu {
    background-color: #222; 
}

.dropdown-item {
    color: white;
}

.dropdown-item:hover {
    background-color: #444; 
    color: #0000FF !important; 
}
