#navbarDropdownMenuLink-qumat {
    font-weight: bold;
    color: #0000FF !important; // Blue text color on hover

}

.dropdown-menu {
    background-color: #222; // Dark background for dropdown
}

.dropdown-item {
    color: white; // Default text color for dropdown items
}

.dropdown-item:hover {
    background-color: #444; // Darker background on hover
    color: #0000FF !important; // Blue text color on hover
}
