---
---
@import "navbar";
@import "home";
@import "mahout";

table {
  border-collapse: collapse;
  width: 100%;
  display: block;
  overflow-x: auto;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}
