<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-mahout">

    <div class="container">

        <a class="navbar-brand" href="/">
          <img src="/assets/mahout-logo-blue.svg" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">

                <!-- Download -->
                <li class="nav-item">
                    <a class="nav-link" href="/general/downloads">Download</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/docs/latest/index.html">Overview</a>
                </li>

                <!-- Algorithms (Samsara / MR) -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Algorithms</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item"  href="/docs/latest/algorithms/linear-algebra">Distributed Linear Algebra</a>
                        <a class="dropdown-item"  href="/docs/latest/algorithms/preprocessors">Preprocessors</a>
                        <a class="dropdown-item"  href="/docs/latest/algorithms/regression">Regression</a>
                        <a class="dropdown-item"  href="/docs/latest/algorithms/clustering">Clustering</a>
                        <a class="dropdown-item"  href="/docs/latest/algorithms/recommenders">Recommenders</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Deprecated</h6>
                        <a class="dropdown-item"  href="/docs/latest/algorithms/map-reduce">MapReduce <i>(deprecated)</i></a>
                    </div>
                    <!--<a class="dropdown-item"  href="/docs/latest/algorithms/recommenders/recommender-overview.html">Reccomender Overview</a></li> Do we still need? seems like short version of next post-->
                    <!--
                    <a class="dropdown-item"  href="/docs/latest/algorithms/recommenders/intro-cooccurrence-spark.html">Intro to Coocurrence With Spark</a></li>
                    <li role="separator" class="divider"></li>
                    <li><span>&nbsp;&nbsp;<a href="/docs/latest/algorithms/map-reduce"><b>MapReduce</b> (deprecated)</a><span></li>
                 -->
                </li>


                <!-- Developers -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Developers</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/developers/developer-resources.html">Developer Resources</a>
                        <a class="dropdown-item" href="/developers/buildingmahout">Building Mahout from Source</a>
                        <a class="dropdown-item" href="/developers/issue-tracker">Issues Tracking (JIRA)</a>
                        <!-- <a class="dropdown-item" href="/developers/patch-check-list/">Patch Check List</a> going to github template -->
                        <!-- <a class="dropdown-item" href="/developers/reference/">References</a> a lot of overlap with books, talks, etc. page -->
                        <a class="dropdown-item" href="/developers/release-notes">Release Notes</a>
                        <!-- <a class="dropdown-item" href="/developers/thirdparty-dependencies/">Third Party Dependencies</a> is our site the reasonable place for this? -->
                        <!-- <a class="dropdown-item" href="/developers/version-control/">Version Control</a> -->
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">How To's</h6>
                        <a class="dropdown-item" href="/developers/how-to-contribute">How to Contribute</a>
                        <a class="dropdown-item" href="/developers/githubPRs">Github PRs</a>
                        <a class="dropdown-item" href="/developers/how-to-become-a-committer">How to Become a Committer</a>
                        <a class="dropdown-item" href="/developers/how-to-release">How to Release</a>
                        <a class="dropdown-item" href="/developers/how-to-update-the-website">How to Update the Website</a>
                    </div>
                </li>

                <!-- Docs -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Docs</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <h6 class="dropdown-header">Release</h6>
                        <a class="dropdown-item" href="/docs/0.13.0">0.13.0</a>
                        <div class="dropdown-divider"></div>
                        <h6 class="dropdown-header">Latest Snapshot (Development)</h6>
                        <a class="dropdown-item" href="/docs/latest">0.13.1-SNAPSHOT</a>
                    </div>
                </li>

                <!-- Community -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Community</a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <!--<a class="dropdown-item" href="/community/history/">History of the Apache Mahout Project</a>-->
                        <!--<a class="dropdown-item" href="/community/blogs/">Blog Posts About Mahout</a>-->
                        <!--<a class="dropdown-item" href="/community/recent-upcoming-talks/">Recent and Upcoming Talks</a>-->
                        <!-- <a class="dropdown-item" href="/community/books-tutorials-and-talks/">Books Tutorials and Talks</a> -->
                        <!-- <a class="dropdown-item" href="/community/faq/">FAQ</a> needs a lot of updating -->
                        <a class="dropdown-item" href="/developers/gsoc">GSoC</a>
                        <!-- Is OK- updated Map/Reduce verbage to reflect Samsara -->
                        <!-- <a class="dropdown-item" href="/community/mahout-benchmarks/">Mahout Benchmarks</a> These are old, Keep them? -->
                        <!-- <a class="dropdown-item" href="/community/mahout-wiki/">Mahout Wiki</a> at very least needs links cleanedup - do we still want this even?-->
                        <a class="dropdown-item" href="/general/mailing-lists">Mailing Lists</a>
                        <!-- Clean and pretty -->
                        <!-- <a class="dropdown-item" href="/community/powered-by-mahout/">Powered By Mahout</a> needs update -->
                        <a class="dropdown-item" href="/general/privacy-policy">Privacy Policy</a>
                        <!-- <a class="dropdown-item" href="/community/professional-support/">Professional Support</a> update if we even want to keep -->
                        <a class="dropdown-item" href="/general/who-we-are">Who We Are</a>
                        <!-- nikolai needs to add himself -->
                    </div>
                </li>

                <!-- GitHub -->
                <li class="nav-item">
                    <a class="nav-link" href="http://github.com/apache/mahout"><i class="fa fa-github"></i></a>
                </li>

            </ul>

            <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->

        </div>

    </div>

</nav>
