<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-mahout">

    <div class="container">

        <a class="navbar-brand" href="/">
          <img src="/assets/mahout-logo-blue.svg" alt="">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav ml-auto">

                <!-- About -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="" id="navbarDropdownMenuLink-about"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">About</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item"
                           href="https://www.apache.org/foundation/how-it-works.html">Overview of the Apache Software Foundation</a>
                        <a class="dropdown-item"
                           href="/about/distributed-matrix-math.html">Overview of Distributed Matrix Math</a>
                        <a class="dropdown-item"
                           href="/about/how-to-contribute.html">How to Contribute</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="" id="navbarDropdownMenuLink-qumat"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">Qumat</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item"
                           href="/quantum-computing-primer">Quantum Computing Primer</a>
<!--                        TODO: Add More QuMat stuff here or refactor the whole thing-->
                    </div>
                </li>
                <!-- Documentation -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="" id="navbarDropdownMenuLink-docs"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">Documentation</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item"
                           href="/papers.html">Papers</a>
                        <a class="dropdown-item"
                           href="/documentation/users">User Guide</a>
                        <a class="dropdown-item"
                           href="/documentation/developers">Developer Guide</a>
                        <a class="dropdown-item"
                           href="/docs/0.13.0/api/docs/">API Reference</a>
                        <a class="dropdown-item"
                           href="/documentation/tutorials">Tutorials and Examples</a>
                    </div>
                </li>

                <!-- Download -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="" id="navbarDropdownMenuLink-download"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">Download</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item"
                           href="/download/downloads.html">Latest Release</a>
                        <a class="dropdown-item"
                           href="https://github.com/apache/mahout/">Github Repository</a>
                    </div>
                </li>

                <!-- Community -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="" id="navbarDropdownMenuLink-community"
                       data-toggle="dropdown"
                       aria-haspopup="true"
                       aria-expanded="false">Community</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">

                        <a class="dropdown-item"
                           href="/community/">Overview</a>
                        <a class="dropdown-item"
                           href="/community/who-we-are.html">Who We Are</a>
                        <a class="dropdown-item"
                           href="/community/mailing-lists.html">Mailing Lists</a>
                        <a class="dropdown-item"
                           href="https://issues.apache.org/jira/browse/MAHOUT">Issue Tracker</a>
                        <a class="dropdown-item"
                           href="/documentation/developers/">Developer Documentation</a>
                        <a class="dropdown-item"
                           href="/community/coc.html">Code of Conduct</a>
                    </div>
                </li>

                <!-- News and Events -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"
                       href="/news-and-events/news.html" id="navbarDropdownMenuLink-news-events"
                       aria-haspopup="true"
                       aria-expanded="false">Latest Project News</a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item"
                           href="/news-and-events/news.html">Latest Project News</a>
<!--                         <a class="dropdown-item"
                           href="/news-and-events/events.html">Upcoming Events</a>
                        <a class="dropdown-item"
                           href="/news-and-events/announcements.html">Announcements</a> -->
                    </div>
                </li>


                <!-- GitHub -->
                <li class="nav-item">
                    <a class="nav-link" href="http://github.com/apache/mahout"><i class="fa fa-github"></i></a>
                </li>

            </ul>

            <!-- <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->

        </div>

    </div>

</nav>
