<!-- Apache Software Foundation Links -->
<div class="card mb-4 sidebar">
    <div class="card-header">
        Apache Software Foundation
    </div>
    <div class="card-body">
        <ul class="list-unstyled mb-0">
            <li>
                <a href="https://www.apache.org/foundation/how-it-works.html">Apache Software Foundation</a>
            </li>
            <li>
                <a href="http://www.apache.org/licenses/">Apache License</a>
            </li>
            <li>
                <a href="http://www.apache.org/foundation/sponsorship.html">Sponsorship</a>
            </li>
            <li>
                <a href="http://www.apache.org/foundation/thanks.html">Thanks</a>
            </li>
        </ul>
    </div>
</div>

<!-- Talks Widget -->
<div class="card mb-4 sidebar">
   
    <div class="card-header">
        Talks
    </div>
    <div class="card-body">
        <ul class="list mb-0">
            <li>
                FOSSY 2024, Portland Oregon - <a href="https://www.youtube.com/watch?v=tgFaUL1wYhY" target="_blank">
                    QuMat: Apache Mahout's Quantum Computing Interface
                </a> 
                [<a href="https://www.slideshare.net/slideshow/qumat_-apache-mahout-s-quantum-computing-interface-pptx/272300949" target="_blank">Slides</a>]
            </li>
                <li>
                FOSDEM 2025, Brussels Belgium - <a href="https://mirrors.dotsrc.org/fosdem/2025/k4401/fosdem-2025-5298-introducing-qumat-an-apache-mahout-joint-.av1.webm" target="_blank">Introducing Qumat!</a>
                [<a href="https://fosdem.org/2025/schedule/event/fosdem-2025-5298-introducing-qumat-an-apache-mahout-joint-/" target="_blank">More Info</a>]
                [<a href="https://fosdem.org/2025/events/attachments/fosdem-2025-5298-introducing-qumat-an-apache-mahout-joint-/slides/236541/Introdudi_JgkXqqT.pdf" target="_blank">Slides</a>]
            </li>
        </ul>
    </div>
</div>
