<!-- Apache Software Foundation Links -->
<div class="card mb-4">
    <div class="card-header">
        Apache Software Foundation
    </div>
    <div class="card-body">
        <ul class="list-unstyled mb-0">
            <li>
                <a href="http://www.apache.org/foundation/how-it-works.html">Apache Software Foundation</a>
            </li>
            <li>
                <a href="http://www.apache.org/licenses/">Apache License</a>
            </li>
            <li>
                <a href="http://www.apache.org/foundation/sponsorship.html">Sponsorship</a>
            </li>
            <li>
                <a href="http://www.apache.org/foundation/thanks.html">Thanks</a>
            </li>
        </ul>
    </div>
</div>

<!-- Twitter Posts Widget -->
<div class="card">
    <div class="card-body">
        <a class="twitter-timeline" data-height="500" href="https://twitter.com/ApacheMahout">Tweets by ApacheMahout</a>
        <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
</div>