name: Python Bindings
on:
  push:
    branches:
      - dev-qdp
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6


      - name: Build wheels
        uses: PyO3/maturin-action@v1
        with:
          working-directory: qdp/qdp-python
          command: build
          args: --release --out dist
          sccache: 'true'

      - name: Upload wheel
        uses: actions/upload-artifact@v4
        with:
          name: python-wheel
          path: qdp/qdp-python/dist/*.whl
